{{define "adminsetting"}}
{{template "headBootstrap5"}}
<body>
{{template "navbar-bootstrap5" .}}
<div class="p-3">
    <form action="/adminsetting_submit" method="POST">
        <div class="pt-2 pb-3">
            <h2 class="section-heading text-center">Admin Setting</h2>
        </div>
        <div class="row mx-auto">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="AppName">Appname</label>
                            <input type="text" class="form-control" id="AppName" name="AppName" placeholder="Appname" value="{{.Setting.AppName}}">
                            <small class="form-text text-warning">Application Name</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="EmailDNS">Email DNS</label>
                            <input type="text" class="form-control" id="EmailDNS" name="EmailDNS" placeholder="Email DNS" value="{{.Setting.EmailDNS}}">
                            <small class="form-text text-muted">Email Domain Name System</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="RootPath">Root Path</label>
                            <input type="text" class="form-control" id="RootPath" name="RootPath" placeholder="/show" value="{{.Setting.RootPath}}">
                            <small class="form-text text-warning">Project root path</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="ScanPlateUploadPath">ScanPlate Upload Path</label>
                            <input type="text" class="form-control" id="ScanPlateUploadPath" name="ScanPlateUploadPath" placeholder="/upload/scanplate" value="{{.Setting.ScanPlateUploadPath}}">
                            <small class="form-text text-warning">ScanPlate upload path</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="ProjectPath">Project Path</label>
                            <input type="text" class="form-control" id="ProjectPath" name="ProjectPath" placeholder="/show/&#123;&#123;.Project&#125;&#125;" value="{{.Setting.ProjectPath}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="Permission">Permission</label>
                            <input type="text" class="form-control" id="ProjectPathPermission" name="ProjectPathPermission" placeholder="0775" value="{{.Setting.ProjectPathPermission}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="UID">UID</label>
                            <input type="text" class="form-control" id="ProjectPathUID" name="ProjectPathUID" placeholder="500" value="{{.Setting.ProjectPathUID}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="GID">GID</label>
                            <input type="text" class="form-control" id="ProjectPathGID" name="ProjectPathGID" placeholder="500" value="{{.Setting.ProjectPathGID}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="ShotPath">Shot Root Path</label>
                            <input type="text" class="form-control" id="ShotRootPath" name="ShotRootPath" placeholder="/show/&#123;&#123;.Project&#125;&#125;/seq/" value="{{.Setting.ShotRootPath}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="Permission">Permission</label>
                            <input type="text" class="form-control" id="ShotRootPermission" name="ShotRootPathPermission" placeholder="0775" value="{{.Setting.ShotRootPathPermission}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="UID">UID</label>
                            <input type="text" class="form-control" id="ShotRootPathUID" name="ShotRootPathUID" placeholder="500" value="{{.Setting.ShotRootPathUID}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="GID">GID</label>
                            <input type="text" class="form-control" id="ShotRootPathGID" name="ShotRootPathGID" placeholder="500" value="{{.Setting.ShotRootPathGID}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="SeqPath">Seq Path</label>
                            <input type="text" class="form-control" id="SeqPath" name="SeqPath" placeholder="/show/&#123;&#123;.Project&#125;&#125;/seq/&#123;&#123;.Seq&#125;&#125;" value="{{.Setting.SeqPath}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="SeqPathPermission">Permission</label>
                            <input type="text" class="form-control" id="SeqPathPermission" name="SeqPathPermission" placeholder="0775" value="{{.Setting.SeqPathPermission}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="SeqPathUID">UID</label>
                            <input type="text" class="form-control" id="SeqPathUID" name="SeqPathUID" placeholder="500" value="{{.Setting.SeqPathUID}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="SeqPathGID">GID</label>
                            <input type="text" class="form-control" id="SeqPathGID" name="SeqPathGID" placeholder="500" value="{{.Setting.SeqPathGID}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="ShotPath">Shot Path</label>
                            <input type="text" class="form-control" id="ShotPath" name="ShotPath" placeholder="/show/&#123;&#123;.Project&#125;&#125;/seq/&#123;&#123;.Seq&#125;&#125;/&#123;&#123;.Seq&#125;&#125;_&#123;&#123;.Cut&#125;&#125;" value="{{.Setting.ShotPath}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="ShotPathPermission">Permission</label>
                            <input type="text" class="form-control" id="ShotPathPermission" name="ShotPathPermission" placeholder="0775" value="{{.Setting.ShotPathPermission}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="ShotPathUID">UID</label>
                            <input type="text" class="form-control" id="ShotPathUID" name="ShotPathUID" placeholder="500" value="{{.Setting.ShotPathUID}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="ShotPathGID">GID</label>
                            <input type="text" class="form-control" id="ShotPathGID" name="ShotPathGID" placeholder="500" value="{{.Setting.ShotPathGID}}">
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="AssetRootPath">Asset Root Path</label>
                            <input type="text" class="form-control" id="AssetRootPath" name="AssetRootPath" placeholder="/show/&#123;&#123;.Project&#125;&#125;/assets/" value="{{.Setting.AssetRootPath}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="AssetRootPathPermission">Permission</label>
                            <input type="text" class="form-control" id="AssetRootPathPermission" name="AssetRootPathPermission" placeholder="0775" value="{{.Setting.AssetRootPathPermission}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="AssetRootPathUID">UID</label>
                            <input type="text" class="form-control" id="AssetRootPathUID" name="AssetRootPathUID" placeholder="500" value="{{.Setting.AssetRootPathUID}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="AssetRootPathGID">GID</label>
                            <input type="text" class="form-control" id="AssetRootPathGID" name="AssetRootPathGID" placeholder="500" value="{{.Setting.AssetRootPathGID}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="AssetTypePath">Asset Type Path</label>
                            <input type="text" class="form-control" id="AssetTypePath" name="AssetTypePath" placeholder="/show/&#123;&#123;.Project&#125;&#125;/assets/&#123;&#123;.Assettype&#125;&#125;" value="{{.Setting.AssetTypePath}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="AssetTypePathPermission">Permission</label>
                            <input type="text" class="form-control" id="AssetTypePathPermission" name="AssetTypePathPermission" placeholder="0775" value="{{.Setting.AssetTypePathPermission}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="AssetTypePathUID">UID</label>
                            <input type="text" class="form-control" id="AssetTypePathUID" name="AssetTypePathUID" placeholder="500" value="{{.Setting.AssetTypePathUID}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="AssetTypePathGID">GID</label>
                            <input type="text" class="form-control" id="AssetTypePathGID" name="AssetTypePathGID" placeholder="500" value="{{.Setting.AssetTypePathGID}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="AssetPath">Asset Path</label>
                            <input type="text" class="form-control" id="AssetPath" name="AssetPath" placeholder="/show/&#123;&#123;.Project&#125;&#125;/assets/&#123;&#123;.Assettype&#125;&#125;/&#123;&#123;.Name&#125;&#125;" value="{{.Setting.AssetPath}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="AssetPathPermission">Permission</label>
                            <input type="text" class="form-control" id="AssetPathPermission" name="AssetPathPermission" placeholder="0775" value="{{.Setting.AssetPathPermission}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="AssetPathUID">UID</label>
                            <input type="text" class="form-control" id="AssetPathUID" name="AssetPathUID" placeholder="500" value="{{.Setting.AssetPathUID}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="AssetPathGID">GID</label>
                            <input type="text" class="form-control" id="AssetPathGID" name="AssetPathGID" placeholder="500" value="{{.Setting.AssetPathGID}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="ThumbnailRootPath">Thumbnail Root Path</label>
                            <input type="text" class="form-control" id="ThumbnailRootPath" name="ThumbnailRootPath" placeholder="/thumbnail" value="{{.Setting.ThumbnailRootPath}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="ThumbnailRootPathPermission">Permission</label>
                            <input type="text" class="form-control" id="ThumbnailRootPathPermission" name="ThumbnailRootPathPermission" placeholder="0775" value="{{.Setting.ThumbnailRootPathPermission}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="ThumbnailRootPathUID">UID</label>
                            <input type="text" class="form-control" id="ThumbnailRootPathUID" name="ThumbnailRootPathUID" placeholder="500" value="{{.Setting.ThumbnailRootPathUID}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="ThumbnailRootPathGID">GID</label>
                            <input type="text" class="form-control" id="ThumbnailRootPathGID" name="ThumbnailRootPathGID" placeholder="500" value="{{.Setting.ThumbnailRootPathGID}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="ThumbnailImagePath">Thumbnail Image Path</label>
                            <input type="text" class="form-control" id="ThumbnailImagePath" name="ThumbnailImagePath" placeholder="/thumbnail/&#123;&#123;.Project&#125;&#125;/&#123;&#123;.ID&#125;&#125;.jpg" value="{{.Setting.ThumbnailImagePath}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="ThumbnailImagePathPermission">Permission</label>
                            <input type="text" class="form-control" id="ThumbnailImagePathPermission" name="ThumbnailImagePathPermission" placeholder="0775" value="{{.Setting.ThumbnailImagePathPermission}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="ThumbnailImagePathUID">UID</label>
                            <input type="text" class="form-control" id="ThumbnailImagePathUID" name="ThumbnailImagePathUID" placeholder="500" value="{{.Setting.ThumbnailImagePathUID}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="ThumbnailImagePathGID">GID</label>
                            <input type="text" class="form-control" id="ThumbnailImagePathGID" name="ThumbnailImagePathGID" placeholder="500" value="{{.Setting.ThumbnailImagePathGID}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="ThumbnailMovPath">Thumbnail Mov Path</label>
                            <input type="text" class="form-control" id="ThumbnailMovPath" name="ThumbnailMovPath" placeholder="/show/&#123;&#123;.Project&#125;&#125;/seq/&#123;&#123;.Seq&#125;&#125;/&#123;&#123;.Name&#125;&#125;/plate/&#123;&#123;.Name&#125;&#125;_&#123;&#123;.Type&#125;&#125;.mov" value="{{.Setting.ThumbnailMovPath}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="ThumbnailMovPathPermission">Permission</label>
                            <input type="text" class="form-control" id="ThumbnailMovPathPermission" name="ThumbnailMovPathPermission" placeholder="0775" value="{{.Setting.ThumbnailMovPathPermission}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="ThumbnailMovPathUID">UID</label>
                            <input type="text" class="form-control" id="ThumbnailMovPathUID" name="ThumbnailMovPathUID" placeholder="500" value="{{.Setting.ThumbnailMovPathUID}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="ThumbnailMovPathGID">GID</label>
                            <input type="text" class="form-control" id="ThumbnailMovPathGID" name="ThumbnailMovPathGID" placeholder="500" value="{{.Setting.ThumbnailMovPathGID}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="PlatePath">Plate Path</label>
                            <input type="text" class="form-control" id="PlatePath" name="PlatePath" placeholder="/show/&#123;&#123;.Project&#125;&#125;/seq/&#123;&#123;.Seq&#125;&#125;/&#123;&#123;.Name&#125;&#125;/plate" value="{{.Setting.PlatePath}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="PlatePathPermission">Permission</label>
                            <input type="text" class="form-control" id="PlatePathPermission" name="PlatePathPermission" placeholder="0775" value="{{.Setting.PlatePathPermission}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="PlatePathUID">UID</label>
                            <input type="text" class="form-control" id="PlatePathUID" name="PlatePathUID" placeholder="500" value="{{.Setting.PlatePathUID}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="PlatePathGID">GID</label>
                            <input type="text" class="form-control" id="PlatePathGID" name="PlatePathGID" placeholder="500" value="{{.Setting.PlatePathGID}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="ReviewDataPath">Review Data Path</label>
                            <input type="text" class="form-control" id="ReviewDataPath" name="ReviewDataPath" placeholder="/review/proxy" value="{{.Setting.ReviewDataPath}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="ReviewDataPathPermission">Permission</label>
                            <input type="text" class="form-control" id="ReviewDataPathPermission" name="ReviewDataPathPermission" placeholder="0775" value="{{.Setting.ReviewDataPathPermission}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="ReviewDataPathUID">UID</label>
                            <input type="text" class="form-control" id="ReviewDataPathUID" name="ReviewDataPathUID" placeholder="500" value="{{.Setting.ReviewDataPathUID}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="ReviewDataPathGID">GID</label>
                            <input type="text" class="form-control" id="ReviewDataPathGID" name="ReviewDataPathGID" placeholder="500" value="{{.Setting.ReviewDataPathGID}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="ReviewUploadPath">Review Upload Path</label>
                            <input type="text" class="form-control" id="ReviewUploadPath" name="ReviewUploadPath" placeholder="/upload/review" value="{{.Setting.ReviewUploadPath}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="ReviewUploadPathPermission">Permission</label>
                            <input type="text" class="form-control" id="ReviewUploadPathPermission" name="ReviewUploadPathPermission" placeholder="0775" value="{{.Setting.ReviewUploadPathPermission}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="ReviewUploadPathUID">UID</label>
                            <input type="text" class="form-control" id="ReviewUploadPathUID" name="ReviewUploadPathUID" placeholder="500" value="{{.Setting.ReviewUploadPathUID}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="ReviewUploadPathGID">GID</label>
                            <input type="text" class="form-control" id="ReviewUploadPathGID" name="ReviewUploadPathGID" placeholder="500" value="{{.Setting.ReviewUploadPathGID}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="DirectUploadPath">Direct Upload Path</label>
                            <input type="text" class="form-control" id="DirectUploadPath" name="DirectUploadPath" placeholder="/upload/direct" value="{{.Setting.DirectUploadPath}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="DirectUploadPathPermission">Permission</label>
                            <input type="text" class="form-control" id="DirectUploadPathPermission" name="DirectUploadPathPermission" placeholder="0775" value="{{.Setting.DirectUploadPathPermission}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="DirectUploadPathUID">UID</label>
                            <input type="text" class="form-control" id="DirectUploadPathUID" name="DirectUploadPathUID" placeholder="500" value="{{.Setting.DirectUploadPathUID}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="DirectUploadPathGID">GID</label>
                            <input type="text" class="form-control" id="DirectUploadPathGID" name="DirectUploadPathGID" placeholder="500" value="{{.Setting.DirectUploadPathGID}}">
                        </div>
                    </div>
                </div>
                {{template "regexpathop"}}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col form-group">
                        <label for="WFS">Web File System URL</label>
                        <input type="text" class="form-control" id="WFS" name="WFS" placeholder="" value="{{.Setting.WFS}}">
                        <small class="form-text text-muted">Web file system url</small>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label for="OCIOConfig">OCIO Configs Path</label>
                        <input type="text" class="form-control" id="OCIOConfig" name="OCIOConfig" placeholder="/path/OpenColorIO-Configs/aces_1.0.3/config.ocio" value="{{.Setting.OCIOConfig}}">
                    </div>
                    <div class="col form-group">
                        <label for="RVPath">RV Path</label>
                        <input type="text" class="form-control" id="RVPath" name="RVPath" placeholder="/opt/rv-Linux-x86-64-7.0.0/bin/rv" value="{{.Setting.RVPath}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label for="OpenImageIO">OpenImageIO OIIO Path</label>
                        <input type="text" class="form-control" id="OpenImageIO" name="OpenImageIO" placeholder="/usr/local/bin/oiiotool" value="{{.Setting.OpenImageIO}}">
                    </div>
                    <div class="col form-group">
                        <label for="Iinfo">OpenImageIO iinfo Path</label>
                        <input type="text" class="form-control" id="Iinfo" name="Iinfo" placeholder="/usr/local/bin/iinfo" value="{{.Setting.Iinfo}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label for="Curl">Curl Path</label>
                        <input type="text" class="form-control" id="Curl" name="Curl" placeholder="/usr/bin/curl" value="{{.Setting.Curl}}">
                    </div>
                    <div class="col form-group">
                        <label for="SlateFontPath">Slate Font Path</label>
                        <input type="text" class="form-control" id="SlateFontPath" name="SlateFontPath" placeholder="/usr/local/share/fonts/freefont-ttf/FreeMono.ttf" value="{{.Setting.SlateFontPath}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label for="InitPassword">Init Password</label>
                        <input type="password" class="form-control" id="InitPassword" name="InitPassword" placeholder="패스워드 초기값" value="{{.Setting.InitPassword}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="FFmpeg">FFmpeg Path</label>
                            <input type="text" class="form-control" id="FFmpeg" name="FFmpeg" placeholder="/path/ffmpeg" value="{{.Setting.FFmpeg}}">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="FFprobe">FFprobe Path</label>
                            <input type="text" class="form-control" id="FFprobe" name="FFprobe" placeholder="/path/ffprobe" value="{{.Setting.FFprobe}}">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="FFmpegThreads">FFmpeg Thread Number</label>
                            <input type="number" class="form-control" id="FFmpegThreads" name="FFmpegThreads" min="1" max="8" step="1" value="{{.Setting.FFmpegThreads}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label for="FullcalendarSchedulerLicenseKey">FullCalendar License Key</label>
                        <input type="text" class="form-control" id="FullcalendarSchedulerLicenseKey" name="FullcalendarSchedulerLicenseKey" placeholder="XXXXXXXXXX-XXX-XXXXXXXXXX" value="{{.Setting.FullcalendarSchedulerLicenseKey}}">
                        <small class="form-text text-muted"><a href="https://fullcalendar.io" class="text-muted text-decoration-none">https://fullcalendar.io</a> License Key</small>
                        <small>, </small>
                        <small class="text-warning finger" onclick="document.getElementById('FullcalendarSchedulerLicenseKey').value='CC-Attribution-NonCommercial-NoDerivatives'">Non-Commercial</small>
                        <small>, </small>
                        <small class="text-warning finger" onclick="document.getElementById('FullcalendarSchedulerLicenseKey').value='GPL-My-Project-Is-Open-Source'">GPLv3</small>
                    </div>
                    <div class="col form-group">
                        <label for="DefaultScaleRatioOfUndistortionPlate">default scale ratio of Undistortion plate</label>
                        <input type="text" class="form-control" id="DefaultScaleRatioOfUndistortionPlate" name="DefaultScaleRatioOfUndistortionPlate" placeholder="1.1" value="{{.Setting.DefaultScaleRatioOfUndistortionPlate}}">
                    </div>
                    <div class="col form-group">
                        <label for="Protocol">Protocol Name</label>
                        <input type="text" class="form-control" id="Protocol" name="Protocol" placeholder="opio" value="{{.Setting.Protocol}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="text-muted">Audio Codec</label>
                            <select name="audiocodec" class="form-control">
                                <option value="nosound" {{if eq .Setting.AudioCodec "nosound" "" }}selected{{end}}>No Sound</option>
                                <option value="copy" {{if eq .Setting.AudioCodec "copy" }}selected{{end}}>Copy Original</option>
                                <option value="ac3" {{if eq .Setting.AudioCodec "ac3" }}selected{{end}}>Audio Coding-3(ac3)</option>
                                <option value="aac" {{if eq .Setting.AudioCodec "aac" }}selected{{end}}>Advanced Adio Coding(aac)</option>
                                <option value="mp3" {{if eq .Setting.AudioCodec "mp3" }}selected{{end}}>MPEG-1 Audio Layer-3(mp3)</option>
                                <option value="dtc" {{if eq .Setting.AudioCodec "dca" }}selected{{end}}>DCA (DTS Coherent Acoustics)</option>
                                <option value="flac" {{if eq .Setting.AudioCodec "flac" }}selected{{end}}>Free Lossless Audio Codec(flac)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label>Item per page</label>
                        <select name="ItemNumberOfPage" class="form-control">
                            <option value="20" {{if eq .Setting.ItemNumberOfPage 0 20}}selected{{end}}>20</option>
                            <option value="50" {{if eq .Setting.ItemNumberOfPage 50}}selected{{end}}>50</option>
                            <option value="100" {{if eq .Setting.ItemNumberOfPage 100}}selected{{end}}>100</option>
                            <option value="200" {{if eq .Setting.ItemNumberOfPage 200}}selected{{end}}>200</option>
                            <option value="500" {{if eq .Setting.ItemNumberOfPage 500}}selected{{end}}>500</option>
                            <option value="1000" {{if eq .Setting.ItemNumberOfPage 1000}}selected{{end}}>1000</option>
                            <option value="2000" {{if eq .Setting.ItemNumberOfPage 2000}}selected{{end}}>2000</option>
                        </select>
                        <small class="form-text text-muted"></small>
                    </div>
                    <div class="col form-group">
                        <label for="MultipartFormBufferSize">MultipartFormBufferSize</label>
                        <input type="text" class="form-control" id="MultipartFormBufferSize" name="MultipartFormBufferSize" placeholder="200000" value="{{.Setting.MultipartFormBufferSize}}">
                        <small class="form-text text-muted">MultipartFormBufferSize: 1048576 == 1 mega</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="ThumbnailImageWidth">Thumbnail Width</label>
                            <input type="text" class="form-control" id="ThumbnailImageWidth" name="ThumbnailImageWidth" placeholder="410" value="{{.Setting.ThumbnailImageWidth}}">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="ThumbnailImageHeight">Thumbnail Height</label>
                            <input type="text" class="form-control" id="ThumbnailImageHeight" name="ThumbnailImageHeight" placeholder="222" value="{{.Setting.ThumbnailImageHeight}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="ProductionStartFrame">Production Start Frame</label>
                            <input type="number" class="form-control" id="ProductionStartFrame" name="ProductionStartFrame" min="1" max="10001" step="1" value="{{.Setting.ProductionStartFrame}}" >
                            <small class="form-text text-muted">ex) 1001, 0001</small>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="ProductionPaddingVersionNumber">Version digit</label>
                            <input type="number" class="form-control" id="ProductionPaddingVersionNumber" name="ProductionPaddingVersionNumber" min="1" max="8" step="1" value="{{.Setting.ProductionPaddingVersionNumber}}" >
                            <small class="form-text text-muted">ex) v001, v0001</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="from-group">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="EnableEndpoint" name="EnableEndpoint" value="true" {{if .Setting.EnableEndpoint}}checked{{end}}>
                                <label class="form-check-label" for="EnableEndpoint">Enable Endpoint</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="from-group">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="EnableDirectupload" name="EnableDirectupload" value="true" {{if .Setting.EnableDirectupload}}checked{{end}}>
                                <label class="form-check-label" for="EnableDirectupload">Enable Directupload</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="from-group ps-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="EnableDirectuploadWithDate" name="EnableDirectuploadWithDate" value="true" {{if .Setting.EnableDirectuploadWithDate}}checked{{end}}>
                                <label class="form-check-label" for="EnableDirectuploadWithDate">Enable Directupload with date</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="from-group ps-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="EnableDirectuploadWithProject" name="EnableDirectuploadWithProject" value="true" {{if .Setting.EnableDirectuploadWithProject}}checked{{end}}>
                                <label class="form-check-label" for="EnableDirectuploadWithProject">Enable Directupload with project</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="from-group ps-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="EnableDirectuploadWithCompanyID" name="EnableDirectuploadWithCompanyID" value="true" {{if .Setting.EnableDirectuploadWithCompanyID}}checked{{end}}>
                                <label class="form-check-label" for="EnableDirectuploadWithCompanyID">Enable Directupload with companyID</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
            
        </div>
        <div class="text-center p-3">
            <button type="submit" class="btn btn-danger">Update</button>
        </div>
    </form>
</div>

{{template "footerBootstrap" .}}
</body>
    <script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>
</html>
{{end}}

