{{define "directupload" }}
{{template "headBootstrap5"}}
<body data-bs-theme="dark">
{{template "navbar-bootstrap5" .}}

<div class="container pt-3">
        <div class="pt-1 pb-3">
            <h2 class="text-muted">Direct Upload</h2>
        </div>
	<div id="dropZone" class="text-muted border border-warning p-5 text-center">
		Please drag and drop your file(s) here.
	</div>
	<input type="file" id="fileInput" multiple webkitdirectory directory class="form-control d-none">	
</div>

<div class="container pt-2">
        <div class="pt-1 pb-3">
            <h5 class="text-muted">Process list</h5>
        </div>
	<div class="row">
		<div class="col-6">
			<ul id="scheduleList" class="list-group"></ul>
		</div>
		<div class="col-6">
			<ul id="fileList" class="list-group"></ul>
		</div>
	</div>
</div>
<div class="container pt-2">
</div>

{{template "footerBootstrap" .}}
</body>
<script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>

<script>
	const dropZone = document.getElementById("dropZone");
	const fileInput = document.getElementById("fileInput");
	const fileList = document.getElementById("fileList");
	const scheduleList = document.getElementById("scheduleList");

	const socket = new WebSocket('/ws/directuploadprogress');

	socket.onopen = () => console.log("WebSocket 연결 성공");
	
	socket.onerror = (error) => console.error("WebSocket 오류:", error);
	socket.onclose = () => console.log("WebSocket 연결 종료");

	socket.onmessage = (event) => {
		const data = JSON.parse(event.data);
		let item = document.getElementById(data.fileName);
		if (!item) {
			item = document.createElement("li");
			item.className = "list-group-item bg-dark border border-black text-light";
			item.id = data.fileName;
			item.textContent = `${data.fileName} - 0%`;
			fileList.appendChild(item);
		}
		item.textContent = `${data.fileName} - ${data.progress}%`;
	};


	// input 클릭 시 파일 선택
	fileInput.addEventListener("change", (e) => {
		handleFiles(e.target.files);
	});

	// 드래그앤드롭존 클릭하면 input 실행
	dropZone.addEventListener("click", () => {
		fileInput.click();
	});

	// 드래그앤드롭 처리
	dropZone.addEventListener("dragover", (e) => {
		e.preventDefault();
		dropZone.style.background = "#383838";
	});

	dropZone.addEventListener("dragleave", () => {
		dropZone.style.background = "#141414";
	});

	dropZone.addEventListener("drop", async (e) => {
            e.preventDefault();
            dropZone.style.background = "#141414";
            const items = e.dataTransfer.items;
            const formData = new FormData();

            async function traverseFileTree(item, path = "") {
                return new Promise((resolve) => {
                    if (item.isFile) {
                        item.file((file) => {
                            formData.append("files", file);
                            formData.append("relativePath[]", path + file.name);
                            addScheduleList(path + file.name);
                            resolve();
                        });
                    } else if (item.isDirectory) {
                        const dirReader = item.createReader();
                        dirReader.readEntries(async (entries) => {
                            for (const entry of entries) {
                                await traverseFileTree(entry, path + item.name + "/");
                            }
                            resolve();
                        });
                    }
                });
            }

            const promises = [];
            for (const item of items) {
                const entry = item.webkitGetAsEntry();
                if (entry) promises.push(traverseFileTree(entry));
            }

            await Promise.all(promises);

            fetch("/ws/directupload", { method: "POST", body: formData })
                .then(response => response.json())
                .then(data => {
                    //alert("업로드 완료");
                    //console.log(data);
                });
        });

        function addScheduleList(fileName) {
            const li = document.createElement("li");
	    li.id = "schedule_"+fileName;
            li.classList.add("list-group-item", "text-secondary", "border", "border-black", "bg-dark");
            li.textContent = "[Schedule] " + fileName;
            scheduleList.appendChild(li);
        }
</script>

</html>
{{end}}
