{{define "edittasksetting" }}
{{template "headBootstrap5"}}
{{template "navbar-bootstrap5" .}}
<body>

<div class="container p-5">
    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
        <form action="/edittasksetting-submit" method="POST">
        <div class="pt-3 pb-5">
            <h2 class="section-heading">Edit Task Setting - {{.Tasksetting.Name}}({{.Tasksetting.Type}})</h2>
        </div>
        <input type="hidden" name="id" value={{.Tasksetting.ID}}>
        <div class="form-group">
            <label>Linux Path</label>
            <input type="text" name="linuxpath" class="form-control" placeholder="/show/&#123;&#123;.Project&#125;&#125;/seq/&#123;&#123;.Seq&#125;&#125;/&#123;&#123;.Seq&#125;&#125;_&#123;&#123;.Cut&#125;&#125;" value="{{.Tasksetting.LinuxPath}}">
            <small class="form-text text-muted">Path opened via protocol.</small>
        </div>
        <div class="form-group">
            <label>macOS Path</label>
            <input type="text" name="macospath" class="form-control" placeholder="/show/&#123;&#123;.Project&#125;&#125;/seq/&#123;&#123;.Seq&#125;&#125;/&#123;&#123;.Seq&#125;&#125;_&#123;&#123;.Cut&#125;&#125;" value="{{.Tasksetting.MacOSPath}}">
            <small class="form-text text-muted">Path opened via protocol.</small>
        </div>
        <div class="form-group">
            <label>Window Path</label>
            <input type="text" name="windowpath" class="form-control" placeholder="//10.0.1.2/show/&#123;&#123;.Project&#125;&#125;/seq/&#123;&#123;.Seq&#125;&#125;/&#123;&#123;.Seq&#125;&#125;_&#123;&#123;.Cut&#125;&#125;" value="{{.Tasksetting.WindowPath}}">
            <small class="form-text text-muted">Path opened via protocol.</small>
        </div>
        <div class="form-group">
            <label>WFS Path</label>
            <input type="text" name="wfspath" class="form-control" placeholder="//10.0.1.2/show/&#123;&#123;.Project&#125;&#125;/seq/&#123;&#123;.Seq&#125;&#125;/&#123;&#123;.Seq&#125;&#125;_&#123;&#123;.Cut&#125;&#125;" value="{{.Tasksetting.WFSPath}}">
            <small class="form-text text-muted">Path opened via Web File System.</small>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Task Order</label>
                    <input type="number" name="order" step="0.01" class="form-control" placeholder="0.1" value="{{.Tasksetting.Order}}">
		    <small class="form-text text-muted">
			    Value used for task sorting<br>
			    Lower values appear higher.</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Excel Order</label>
                    <input type="number" name="excelorder" step="0.01" class="form-control" placeholder="0.1" value="{{.Tasksetting.ExcelOrder}}">
                    <small class="form-text text-muted">
			    Value used for Excel exporting<br>
			    Lower values appear first.</small>
                </div>
            </div>
        </div>
        
        
        <div class="form-check pt-3">
            <input type="checkbox" id="initgenerate" name="initgenerate" class="form-check-input" value="true"{{if .Tasksetting.InitGenerate}} checked{{end}}>
            <label class="form-check-label" for="initgenerate">Set as default for item creation.</label>
        </div>

        {{template "regexpathop"}}

        <div class="text-center">
            <button type="submit" class="btn btn-outline-warning mt-5">Update Task</button>
        </div>
        </form>
    </div>
</div>

{{template "footerBootstrap" .}}
</body>
<script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>

</html>
{{end}}

