{{define "error-captcha"}}
{{template "headBootstrap5"}}
<body>
<div class="container p-5">
    <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
        <div class="pt-3 pb-5">
            <h2 class="text-center section-heading text-muted">Error</h2>
        </div>
        <div>
            <h5 class="text-center text-muted">
                Your captcha code was wrong number.<br>
            </h5>
        </div>
        <div class="text-center">
            <a href="/signup" class="btn btn-outline-danger mt-5">Re-SignUp</a>
        </div>
    </div>
</div>
{{template "footerBootstrap" .}}
</body>
<!--add javascript-->
<script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>
<script src="/assets/js/dropzone.js"></script>
</html>
{{end}}
