{{define "help_deadline"}}
<div class="p-5 text-center text-darkmode">
    <h3 class="p-2">Deadline</h3>
    <div class="text-center mr-3">
        <span class="text-badge">3D:</span>
        <span class="statusuri badge badge-fade finger">1209</span>
        <span class="statusuri badge badge-darkmode finger">0109</span>
        <span class="statusuri badge badge-danger finger">0119</span>
        <span class="statusuri badge badge-warning finger">0129</span>
    </div>
    
    <div class="text-center mr-3">
        <span class="text-badge">2D:</span>
        <span class="statusuri badge badge-fade finger">1209</span>
        <span class="statusuri badge badge-darkmode finger">0109</span>
        <span class="statusuri badge badge-danger finger">0119</span>
        <span class="statusuri badge badge-warning finger">0129</span>
    </div>
    <p class="h6 pt-3 font-weight-light m-3">
    This is a tag format used to display deadlines.<br>
    When clicked, it shows results related to the due date.<br>
        <span class="statusuri badge badge-danger mt-2">Red</span> tags indicate items due this week.<br>
        <span class="statusuri badge badge-warning mt-2">Yellow</span> tags indicate items due next week.<br>
        <span class="statusuri badge badge-fade mt-2">Grey</span> tags represent past due dates. 
    </p>
</div>
{{end}}
