{{define "help_tasks"}}
<div class="p-5 bg-darklight text-center text-darkmode">
    <h3 class="p-2">Tasks</h3>
    <div class="row pb-5">
        <div class="mx-auto">
            <div class="row">
                <div class="col">
                    <span class="add" title="Add Task">＋</span>
                    <span class="remove ml-1" title="Remove Task">－</span>
                </div>
            </div>
            <div class="mt-1 ml-1 mb-3">
                <div class="row">
                    <div class="col">
                        <span class="finger mt-1 badge badge-confirm statusbox_daily" title="Set blue border when update mov.">model</span>
                        <span class="mt-1 ml-1 badge badge-outline-darkmode" title="deadline">0120</span>
                        <span class="mt-1 ml-1 badge badge-light" title="Artist">Jason</span>
                        <span class="mt-1 ml-1 badge badge-light" title="media">▶</span>
                        <span class="ml-1 add" title="edit task">≡</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="finger mt-1 badge badge-wip statusbox_deadline" title="set red border when deadline.">light</span>
                        <span class="mt-1 ml-1 badge badge-outline-darkmode" title="deadline">0206</span>
                        <span class="mt-1 ml-1 badge badge-light" title="artist">Alex&nbsp;&nbsp;</span>
                        <span class="mt-1 ml-1 badge badge-light" title="media">▶</span>
                        <span class="ml-1 add" title="edit task">≡</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="finger mt-1 badge badge-ready statusbox" title="task">comp</span>
                        <span class="mt-1 ml-1 badge badge-outline-darkmode" title="deadline">0224</span>
                        <span class="mt-1 ml-1 badge badge-light" title="artist">Jason</span>
                        <span class="mt-1 ml-1 badge badge-light" title="media">▶</span>
                        <span class="ml-1 add" title="Edit Task">≡</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="h6 font-weight-light help-text">
    Each item allows you to manage tasks using the <span class="add">＋</span> and <span class="remove">－</span> buttons.<br>
    Tasks are displayed in the following order: Task name, Deadline, Artist name, Playback file, and Edit Task Info button.<br>
    By developing a custom protocol, you can enable the Task area to directly link to the corresponding work folder when clicked.<br>
    </p>
</div>
{{end}}
