{{define "help_search"}}
<div class="p-3 text-center text-darkmode">
	<h3 class="pt-5">Search</h3>

	<div class="row justify-content-center align-items-center m-3">
		<div class="col-lg-10">
			<div class="input-group mb-3">
				<select name="Project" class="form-select custom-select rounded-start" id="Project">
					<option value="project1">project1</option>
					<option value="project2">project2</option>
					<option value="project3">project3</option>
				</select>
				<select name="Task" class="form-select custom-select">
					<option value="">All</option>
					<option value="light">task1</option>
					<option value="comp">task2</option>
				</select>
				<input class="form-control" id="search" placeholder="Search word.." type="text" name="Searchword" value="" style="width:50%">
				<select name="Sortkey" class="col-2 form-select custom-select">
					<option value="id">Sort: Name</option>
					<option value="rnum">Sort: Rnum</option>
					<option value="ddline3d">Sort: Deadline 3D</option>
					<option value="ddline2d">Sort: Deadline 2D</option>
					<option value="scanframe">Sort: Scan length</option>
					<option value="scantime">Sort: Scan date</option>
					<option value="taskdate">Sort: Taskdate</option>
				</select>
				<select name="Sortorder" class="col-2 form-select custom-select">
					<option value="1">Sort</option>
					<option value="-1">Reverse Sort</option>
				</select>
				<button class="btn btn-darkmode" type="button">
					Search
					<span class="badge badge-darkmode">5</span>
				</button>
			</div>
		</div>
	</div>
	<div class="row justify-content-center align-items-center ml-3 mr-3">
		<div class="row pl-3 pr-3">
			<div class="col">
				<span class="btn btn-sm mb-2 bg-assign">
					<input type="checkbox" class="mr-1 StatusCheckBox" id="searchbox-checkbox-assign" name="Assign" value="true" checked>
					<span class="text-dark statusuri">assign</span>
					<span class="badge badge-light">4</span>
				</span>
				<span class="btn btn-sm mb-2 bg-ready">
					<input type="checkbox" class="mr-1 StatusCheckBox" id="searchbox-checkbox-ready" name="Ready" value="true" checked>
					<span class="text-dark statusuri">ready</span>
					<span class="badge badge-light">8</span>
				</span>
				<span class="btn btn-sm mb-2 bg-wip">
					<input type="checkbox" class="mr-1 StatusCheckBox" id="searchbox-checkbox-wip" name="Wip" value="true" checked>
					<span class="text-dark statusuri">wip</span>
					<span class="badge badge-light">10</span>
				</span>
				<span class="btn btn-sm mb-2 bg-confirm">
					<input type="checkbox" class="mr-1 StatusCheckBox" id="searchbox-checkbox-confirm" name="Confirm" value="true" checked>
					<span class="text-dark statusuri">confirm</span>
					<span class="badge badge-light">5</span>
				</span>
				<span class="btn btn-sm mb-2 bg-done">
					<input type="checkbox" class="mr-1 StatusCheckBox" id="searchbox-checkbox-done" name="Done" value="true">
					<span class="text-dark statusuri">done</span>
					<span class="badge badge-light">0</span>
				</span>
				<span class="btn btn-sm mb-2 bg-out">
					<input type="checkbox" class="mr-1 StatusCheckBox" id="searchbox-checkbox-out" name="Out" value="true">
					<span class="text-dark statusuri">out</span>
					<span class="badge badge-light">0</span>
				</span>
				<span class="btn btn-sm mb-2 bg-omit">
					<input type="checkbox" class="mr-1 StatusCheckBox" id="searchbox-checkbox-omit" name="Omit" value="true">
					<span class="text-dark statusuri">omit</span>
					<span class="badge badge-light">0</span>
				</span>
				<span class="btn btn-sm mb-2 bg-hold">
					<input type="checkbox" class="mr-1 StatusCheckBox" id="searchbox-checkbox-hold" name="Hold" value="true">
					<span class="text-light statusuri">hold</span>
					<span class="badge badge-light">0</span>
				</span>
				<span class="btn btn-sm mb-2 bg-none">
					<input type="checkbox" class="mr-1 StatusCheckBox" id="searchbox-checkbox-none" name="None" value="true">
					<span class="text-light statusuri">none</span>
					<span class="badge badge-light">0</span>
				</span>
			</div>
		</div>
		<div class="row pl-3 pr-3">
			<div class="col">
				<img src="/assets/img/arrows-spin-solid.svg" width="24" height="24" class="finger mb-2" data-toggle="tooltip" data-placement="bottom" title="SelectMode Ctrl+Alt+Shift+m">
				<img src="/assets/img/listview.svg" width="24" height="24" class="finger mb-2" data-toggle="tooltip" data-placement="bottom" title="ListView">
				<img src="/assets/img/calendar.svg" width="24" height="24" class="finger mb-2 mr-3 me-5" data-toggle="tooltip" data-placement="bottom" title="CalendarView">
				
				<a class="btn btn-sm btn-outline-darkmode mb-2 statusuri">2D <span class="badge badge-darkmode">10</span></a>
				<a class="btn btn-sm btn-outline-darkmode mb-2 statusuri">3D <span class="badge badge-darkmode">5</span></a>
				<a class="btn btn-sm btn-outline-darkmode mb-2 statusuri">Shot <span class="badge badge-darkmode">15</span></a>
				<a class="btn btn-sm btn-outline-darkmode mb-2 statusuri">Asset <span class="badge badge-darkmode">3</span></a>
			</div>
		</div>
	</div>
	

	<p class="h6 font-weight-light">
		<p class="h6 font-weight-light"><span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='word1 word2 word3'">word1&nbsp;&nbsp;&nbsp;word2&nbsp;&nbsp;&nbsp;...</span> : AND(&) search.</p>
		<p class="h6 font-weight-light"><span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='user:jason'">user:jason</span> : search artist.</p>
		<p class="h6 font-weight-light"><span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='user:notassign'">user:notassign</span> : search not assign task.</p>
		
		<p class="h6 font-weight-light">
			<span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='All'">All</span>
			<span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='all'">all</span>
			 : search total items.
		</p>
		<p class="h6 font-weight-light">
			<span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='shot'">shot</span>
			 : search only shot
		</p>
		<p class="h6 font-weight-light">
			<span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='asset'">asset</span>
			<span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='assets'">assets</span>
			 : search only asset
		</p>
		<p class="h6 font-weight-light">
			<span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='0109'">0109</span> : search deadline date
		</p>
		
		<p class="h6 font-weight-light">
			<span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='name:SS_0010'">name:SS_0010</span> : search name attribute.
		</p>
		<p class="h6 font-weight-light">
			<span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='rnum:A0001'">rnum:A0001</span> : searcn rollnumber attribute.
		</p>
		<p class="h6 font-weight-light">
			<span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='tag:태그명'">tag:tagname</span> : search tag.
		</p>
		<p class="h6 font-weight-light">
			<span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='deadline2d:2020-01-30'">deadline2d:2020-01-30</span> : search deadline for 2D
		</p>
		<p class="h6 font-weight-light">
			<span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='deadline3d:2020-01-30'">deadline3d:2020-01-30</span> : search deadline for 3D
		</p>
		<p class="h6 font-weight-light">
			<span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='2D'">2D</span> <span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='3D'">3D</span> : search 2D or 3D type items.
		</p>
		<p class="h6 font-weight-light">
			<span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='00:12:23:12'">00:12:23:12</span> : search timecode
		</p>
		<p class="h6 font-weight-light">
			<span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='tasks.light.status:done'">tasks.light.status:done</span> : search done status in light task
		</p>
		<p class="h6 font-weight-light">
			<span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='task:concept task:light jason'">task:concept task:light jason</span> : search jason user in concept task and light task
		</p>
		<p class="h6 font-weight-light">
			<span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='user:jason or user:alex'">user:jason or user:alex</span> : search user of jason or alex items
		</p>
		<p class="h6 font-weight-light">
			<span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='season:S01'">season:S01</span> : search "S01" in season
		</p>
		<p class="h6 font-weight-light">
			<span class="btn btn-outline-light btn-sm" onclick="document.getElementById('search').value='episode:E01'">episode:E01</span> : search "E01" in episode
		</p>
	</p>
</div>
{{end}}
