{{define "help"}}
{{template "headBootstrap5" .}}
{{template "navbar-bootstrap5" .}}

{{template "help_introduce" .}}
{{template "help_colorconcept"}}
<!--
{{template "help_search"}}
-->
{{template "help_tag"}}
{{template "help_deadline"}}
{{template "help_thumbnail"}}
{{template "help_tasks" .}}
{{template "help_note"}}
{{template "help_comment"}}


<div class="p-5 bg-darklight text-center text-darkmode">
	<h3 class="p-2">RestAPI</h3>
	<p class="h6 font-weight-light">
		We support RestAPI for Python, Javascript, Ajax, node.JS, C#, C++, C, JAVA, Go
	</p>
	<p class="h6 font-weight-light">
		<a href="https://github.com/lazypic/OpenPipelineIO/blob/master/documents/rest_project.md" class="btn btn-sm btn-outline-light">Project</a>
		<a href="https://github.com/lazypic/OpenPipelineIO/blob/master/documents/rest_item.md" class="btn btn-sm btn-outline-light">Item(Shot,Asset)</a>
		<a href="https://github.com/lazypic/OpenPipelineIO/blob/master/documents/rest_user.md" class="btn btn-sm btn-outline-light">User</a>
		<a href="https://github.com/lazypic/OpenPipelineIO/blob/master/documents/rest_organization.md" class="btn btn-sm btn-outline-light">Organization</a>
		<a href="https://github.com/lazypic/OpenPipelineIO/blob/master/documents/rest_tasksetting.md" class="btn btn-sm btn-outline-light">Task</a>	
	</p>
</div>

{{template "footerBootstrap" .}}

</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>
</html>
{{end}}
