{{define "help_note"}}
<div class="p-5 text-center text-darkmode">
    <h3 class="p-2">Notes</h3>
    <div class="row pb-4">
        <div class="mx-auto text-start col-sm-12 col-md-12 col-lg-4">
            <div class="">
                <div class="row" title="management tags">
                    <div class="col">
                        <span class="text-badge">Tags:</span>
                        <span class="ms-1 badge badge-outline-darkmode">tag1</span>
                        <span class="ms-1 badge badge-outline-darkmode">tag2</span>
                        <span class="add ms-1" title="add tag">＋</span>
                        <span class="remove ms-0" title="remove tag">－</span>
                    </div>
                </div>
                <div class="row" title="note">
                    <span class="text-badge">Note:</span>
                </div>
                <div class="ms-1 text-light small">
                    <div class="text-end">
                        <span class="add" title="add note">＋</span>
                        <span class="edit" title="edit note">≡</span>
                    </div>
                    <div class="text-start">
			Write down information related to the task,<br>
or provide details that artists need to proceed with the project.
                    </div>
                </div>
                
                <!--ObjectID-->
                <div class="row" title="ObjectID range used 3D Asset.">
                    <div class="col">
                        <span class="finger no-decoration-text-button">ObjectID:</span>
                        <span class="text-badge ms-1">1-100</span>
                    </div>
                </div>
                
                <!--ProductionCam-->
                <div class="row" title="Camera publish info">
                    <div class="col">
                        <span class="finger no-decoration-text-button">CamInfo:</span>
                        <span class="text-badge ms-1">Pub-mm</span>
                        <span class="text-badge">,</span>
                        <span class="text-badge ms-1">/show/project/cam/pub/path</span>
                        <span class="text-badge">,</span>
                        <span class="text-badge ms-1">Projection</span>
                    </div>
                </div>
                
                <!--연결소스-->
                <div class="row" title="link source">
                    <span class="text-badge">Sources:</span>
                </div>
                <div class="ms-2 row">
                    <div class="row">
                        <div class="col">
                            <span class="badge badge-outline-darkmode ml-1">src1</span>
                            <span class="badge badge-outline-darkmode ml-1">src2</span>
                            <span class="add ms-3" title="add source">＋</span>
                            <span class="remove ml-0" title="remove source">－</span>
                        </div>
                    </div>
                </div>

                <!--Reference-->
                <div class="row" title="link reference">
                    <span class="text-badge">References:</span>
                </div>
                <div class="ms-2 row">
                    <div class="row">
                        <div class="col">
                            <span class="badge badge-outline-darkmode ml-1">ref1</span>
                            <span class="badge badge-outline-darkmode ml-1">ref2</span>
                            <span class="add ms-3" title="add reference">＋</span>
                            <span class="remove ml-0" title="remove reference">－</span>
                        </div>
                    </div>
                </div>
                
                
                <!--Scaninfo-->
                <div class="row" title="information scandata">
                    <div class="col">
                        <span class="text-badge">ScanInfo:</span>
                        <span class="text-badge ms-1" title="scan time">0120 /</span>
                        <span class="text-badge ms-1" title="scan dataname">A007C006_160424_R28L</span>
                        <span class="text-badge ms-1">1001</span>
                        <span class="text-badge ms-1">-</span>
                        <span class="text-badge ms-1">1050</span>
                        <span class="text-badge ms-1" title="length">(50)</span>
                        <span class="text-badge ms-1">/</span>
                        <span class="text-badge ms-1">10:00:00:01</span>
                        <span class="text-badge ms-1">-</span>
                        <span class="text-badge ms-1">10:00:02:02</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="h6 font-weight-light help-text">
    Manage tags, task descriptions, sources, references, camera data,<br>
    asset objects, and scan data required for the work.<br>
	Hover over each item to see a brief explanation.
    </p>
</div>
{{end}}
