{{define "help_tag"}}
<div class="p-5 bg-darklight text-center text-darkmode">
	<h3 class="p-2">Tag System</h3>
	<p>
		<span class="btn btn-outline-darkmode btn-sm m-1 statusuri">BG</span>
		<span class="btn btn-outline-darkmode btn-sm m-1 statusuri">Char</span>
		<span class="btn btn-outline-darkmode btn-sm m-1 statusuri">Cloth</span>
		<span class="btn btn-outline-danger btn-sm m-1">RenameTag</span>
	</p>
	<p class="h6 font-weight-light help-text">
		You can use the tag system to separate items before content creation.<br>
		Tags can be set for each item (shot, asset) using the <span class="add">＋</span> and <span class="remove">－</span> icons in the tag section.<br>
		Only users with the appropriate permissions can see the tag modification icons,<br>
		and these buttons allow for bulk tag changes and management.
	</p>
</div>


{{end}}