{{define "help_comment"}}
<div class="p-5 bg-darklight text-center text-darkmode">
    <h3 class="p-2">Comments</h3>
    <div class="row pt-4 pb-4">
        <div class="mx-auto col-sm-12 col-md-12 col-lg-4 text-left">
            <div class="text-end">
                <span class="add" title="add comment">＋</span>
            </div>
            
            <div class="text-start">
                <div>
                    <span class="text-badge">2025-03-30T16:02:58+09:00 / <span class="text-darkmode" title="Author">Author</span></span>
                    <span class="edit" title="edit comment">≡</span>
                    <span class="remove" title="remove comment">×</span>
                    <br>
                    <small class="text-white">
			Enter the changes to be made.<br>
			You can use multiple lines for input.<br>
                        <span class="link" title="link or reference file path">∞</span>
                    </small>
                    <hr class="my-1 p-0 m-0 divider">
                </div>
                <div>
                    <span class="text-badge">2025-03-30T16:02:58+09:00 / <span class="text-darkmode" title="Author">Author</span></span>
                    <span class="edit" title="edit comment">≡</span>
                    <span class="remove" title="remove comment">×</span>
                    <br>
                    <small class="text-white">
			Enter the changes to be made.<br>
			You can use multiple lines for input.<br>
                        <span class="link" title="link or reference file path">∞</span>
                    </small>
                    <hr class="my-1 p-0 m-0 divider">
                    <div class="text-right">
                        <span title="View all commments" class="small finger text-darkmode">more...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="h6 font-weight-light help-text">
    	On the default screen, only the 3 most recent updates are displayed.<br>
    	To view more detailed change history, click the <span class="badge badge-darkmode finger ml-1 finger" title="디테일 정보">D</span> icon to open the detail page.
    </p>
</div>
{{end}}
