{{define "help_introduce"}}
<div class="p-5 text-center">
    <h3 class="p-2 text-darkmode">OpenPipelineIO</h3>
    <p class="h6 font-weight-light text-darkmode">
    OpenPipelineIO is a project management tool for content creation,<br>
    built on Unix-like OS and OpenZFS, and powered by ASWF open-source libraries and noSQL.
    <p>

    <p class="mt-2">
        <span class="text-darkmode">
            mongoDB Version: {{.DBVer}}<br>
            mongoDB IP/Port: {{.DBIP}}<br>
            Server IP: {{.ServerIP}}<br>
            {{if .BuildTime}}
                Build Time: {{.BuildTime}}<br>
            {{end}}
            {{if .Sha1ver}}
                Git SHA1: <a href="https://github.com/lazypic/OpenPipelineIO/commit/{{.Sha1ver}}" class="text-warning">{{.Sha1ver}}</a><br>
            {{end}}
        </span>
    </p>
</div>
{{end}}
