{{define "help_thumbnail"}}
<div class="p-5 text-center bg-darklight text-darkmode">
    <h3 class="p-2">Thumbnail</h3>
    <div class="text-center">
        <div class="mx-auto" style="width:400px">
            <div class="thumbnailbox">
                <label class="p-0 m-0 thumbnail" for="EXP_0010_org">
                    <img src="/assets/img/help/EXP_0010.jpg" class="thumbnail border-wip">
                </label>
                <div class="top-left">
                    <div class="row">
                        <span class="black-opbg text-start" title="Roll number">A0001</span>
                    </div>
                    <div class="row">
                        <span class="black-opbg text-start" title="Deadline 3D">3D:0109</span>
                    </div>
                    
                    <div class="row">
                        <span class="black-opbg text-start" title="Deadline 2D">2D:0120</span>
                    </div>
                </div>
                <div class="centered-top"><a href="mailto:?subject=[ExampleProject] EXP_0010" class="text-white black-opbg itemname" title="Item name">EXP_0010</a></div>
                <div class="top-right">
                    <div class="row">
                        <span class="black-opbg" title="Plate size">S: 2048x1152</span>
                    </div>
                    <div class="row">
                        <span class="black-opbg" title="Undistortion Plate size">U: 2248x1352</span>
                    </div>
                    <div class="row">
                        <span class="black-opbg" title="Render size">R: 2248x1352</span>
                    </div>
                </div>
                <div class="centered" title="Final version">
                    Finver: v002<br>
                    Date: 2020-01-19
                </div>
                <div class="centered-bottom row">
                    <div class="col">
                        <span class="badge badge-warning" title="Shottype">org</span>
                        <span class="badge ml-1 badge-light" title="Type">2D</span>
                    </div>
                </div>
                <div class="centered-left"></div>
                <div class="centered-right">
                    <!--Retime-->
                    <div class="row" id="button-retime-EXP_0010">
                        <a href="" class="badge badge-danger" title="Retime">R</a>
                    </div>
                    <!--Just Mark-->
                    <div class="row" id="button-just-EXP_0010">
                        <span class="badge badge-warning mt-1" title="Just">J</span>
                    </div>
                    <!--OCIOcc-->
                    <div class="row" id="button-ociocc-EXP_0010">
                        <span class="badge badge-info mt-1" title="CDL">N</span>
                    </div>
                </div>
                <div class="bottom-left">
                    <div class="row" title="Handle IN/OUT">
                        <span class="text-white black-opbg text-start" id="handlein-EXP_0010">5/5</span>
                    </div>
                    <div class="row" title="Plate IN">
                        <span class="text-white black-opbg text-start">1001</span>
                    </div>
                    <div class="row" title="Just IN">
                        <span class="text-warning black-opbg text-start">1006</span>
                    </div>
                    <div class="row" title="Just TimecodeIn">
                        <span class="text-warning black-opbg text-start">10:00:00:06</span>
                    </div>
                </div>
                <div class="bottom-right">
                    <div class="row" id="plateout-EXP_0010" title="Plate OUT(Total)">
                        <span class="text-white black-opbg">1050(50)</span>
                    </div>
                    <div class="row" id="justout-EXP_0010" title="Just OUT(Total)">
                        <span class="text-warning black-opbg">1045(40)</span>
                    </div>
                    <div class="row" id="justtimecodeout-EXP_0010" title="Just TimecodeOut">
                        <span class="text-warning black-opbg">10:00:10:36</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="mx-auto pt-1 row">
                <div class="col">
                    <span class="badge badge-warning ml-1 mr-1" title="Update time">UPDATE 2m10s</span>
                    <span class="play finger" title="Play clip(protocol)">PLAY</span>
                    <span class="badge badge-danger finger ml-1 finger" title="Edit">E</span>
                    <span class="badge badge-darkmode finger ml-1 finger" title="Detail">D</span>
                    <span class="badge badge-darkmode ml-1" title="Open Dir(Protocol)">F</span>
                </div>
            </div>
        </div>
    </div>
    <p class="pt-3 h6 font-weight-light help-text">
    	The thumbnail contains a high density of information.<br>
	You can hover over any feature to see a basic explanation.<br>
        <span class="badge badge-danger">E</span> Edit the item's basic information.<br>
        <span class="badge badge-darkmode">D</span> View detailed information.<br>
        <span class="badge badge-darkmode">F</span> Open the folder using a protocol.<br>
	Click on the desired information to make edits.<br>
	Clicking on a thumbnail highlights it with a red border, indicating the item is selected.<br>
    </p>
</div>
{{end}}
