{{define "index" }}
{{template "headBootstrap" .}}
<body>
    {{template "datalist" .}}
	<div id="floatingmenu">
		{{template "navbar" .}}
    		{{if eq .User.AccessLevel 3 4 5 6 7 8 9 10 11}}
			<div id="searchbox">
        			{{template "searchbarV2" .}}
				{{template "deadlinelist" .}}
				{{template "taglist" .}}
				{{template "info2" .}}
			</div>
		{{end}}
	</div>
    {{if eq .User.AccessLevel 0 1 2}}
    	<div class="container pt-5">
    	<div class="pt-5 pb-2">
        	<h4 class="section-heading">Invalid Access Level</h4>
   	 </div>
    	<div class="row">
       		<div class="col-sm pb-5">
                	<label>To use <b>OpenPipelineIO</b>, each account requires the appropriate level of access permissions.<br>
           		Please obtain access permission through the administrator and <a href="/signin" class="text-warning">Sign-In</a> in again.</label>
       		</div>
    	</div>
	</div>
    {{else}}
    	{{template "modal" .}}
	<div id="blinkspace"></div> <!--top margin 550px-->
	<div class="pt-3"></div> <!--make little bit space-->
	{{template "listview" .}}
	{{if ne .TotalPageNum 0}}
       		{{template "page" .}}
    	{{end}}
    	{{template "calendarview" .}}
    {{end}}
    {{template "footerBootstrap" .}}
</body>
<script src="/assets/js/jquery-3.1.1.min.js"></script>

<script src="/assets/bootstrap-4/js/bootstrap.bundle.min.js"></script>
<script src='/assets/fullcalendar-scheduler-5/lib/main.min.js'></script>
<script src="/assets/js/input.js"></script>
<script src="/assets/js/Sortable.js"></script>
<script src="/assets/js/export.js"></script>
<script src="/assets/js/scroll.js"></script>
<script src="/assets/js/dropzone.js"></script>
<script>
    // Tooltip을 띄운다.
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    // 쿠키에 저장된 SearchBox가 보일지 여부를 판단하고 화면에 표시한다.
    let searchbox = document.getElementById("searchbox")
    if (getCookie("searchboxVisable") == "false") {
        document.getElementById("foldoption").innerText = "Expand Searchbox ▼" // 글씨 변경
        searchbox.style.display='none'; // 접기
    } else {
        searchbox.style.display='block'; // 펼치기
        document.getElementById("foldoption").innerText = "Collapse Searchbox ▲" // 글씨 변경
    }
    let clientSearchboxHeight = document.getElementById('floatingmenu').clientHeight;
    document.getElementById("blinkspace").style.height = clientSearchboxHeight + "px";
</script>
</html>
{{end}}
