{{define "invalidaccess" }}
{{template "headBootstrap5"}}
<body>

<div class="container p-5">
    <div class="pt-3 pb-5">
        <h2 class="section-heading">Invalid Access Level</h2>
    </div>
    <div class="row">
        <div class="col-sm">
		<label>To use <b>OpenPipelineIO</b>, each account requires the appropriate level of access permissions.<br>
            Please obtain access permission through the administrator and <a href="/signin" class="text-warning">Sign-In</a> in again.</label>
        </div>
    </div>
</div>



{{template "footerBootstrap" .}}
</body>
</html>
{{end}}
