{{define "modal-user"}}
<!-- Modal: Preset value-->
<input type="hidden" id="token" value="{{$.User.Token}}">
<input type="hidden" id="userid" value="{{$.User.ID}}">
<!-- Modal: Rm User-->
<div class="modal" id="modal-rmuser" tabindex="-1" role="dialog" aria-labelledby="modal-rmuser" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-darkmode">
            <div class="modal-header">
            <h5 class="modal-title" id="modal-rmpublishkey-title">Rm User</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" id="modal-rmuser-id">
                <label id="modal-rmuser-text" class="col-form-label">
Do you want to delete this user?</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-darkmode" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-danger" onclick="rmUser()" data-bs-dismiss="modal">DELETE</button>
            </div>
        </div>
    </div>
</div>

</div>
{{end}}
