{{define "projectinfo" }}
{{template "headBootstrap5"}}
{{template "navbar-bootstrap5" .}}

<body>
		
<div class="p-4">
	<div class="">
		<a href="/projectinfo" class="btn btn-outline-darkmode btn-sm m-1">ALL</a>
		<a href="/projectinfo?status=archive" class="btn btn-outline-darkmode btn-sm m-1">Archive</a>
		<a href="/projectinfo?status=test" class="btn btn-darkmode btn-sm m-1">Test</a>
		<a href="/projectinfo?status=pre" class="btn btn-info btn-sm m-1">PreProduction</a>
		<a href="/projectinfo?status=post" class="btn btn-success btn-sm m-1">PostProduction</a>
		<a href="/projectinfo?status=layover" class="btn btn-warning btn-sm m-1">Hold</a>
		<a href="/projectinfo?status=backup" class="btn btn-danger btn-sm m-1">Need Backup</a>
	</div>
</div>

<div class="p-2">
	<div class="row">
		{{range .Projects}}
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="card m-2 bg-darkmode">
					<h6 class="card-header ">
						<span class="btn btn-sm {{projectStatus2color .Status}}">
								{{.ID}}
								{{if .Name}} [ {{.Name}} ]{{end}}
						</span>
						
					</h6>
					<div class="card-body">
						<h6 class="card-title">
							{{if .Style}}<span class="btn btn-darkmode btn-sm">{{.Style}}</span>{{end}}
							{{if .Stereo}}<span class="btn btn-darkmode btn-sm">Stereo</span>{{end}}
							{{if .Screenx}}<span class="btn btn-sm border">ScreenX</span>{{end}}
							{{if .Lut}}<span class="btn btn-sm btn-warning">LUT 사용</span>{{end}}
							<a href="mailto:{{.ID}}@{{$.MailDNS}}?subject=[{{if .MailHead}}{{.MailHead}}{{else}}{{.ID}}{{end}}]" class="btn btn-darkmode btn-sm">E-mail</a>
							{{if eq $.User.AccessLevel 4 5 6 7 8 9 10 11}}
								<a href="/editproject?id={{.ID}}" class="btn btn-danger btn-sm">Edit</a>
							{{end}}
						</h6>
					
						<p class="card-text">
							{{if .Issue}}
								Issue: {{.Issue}}<br>
							{{end}}
						</p>
						<p class="card-text m-0 p-0">
							{{if .Super}}
								Sup: {{.Super}}<br>
							{{end}}
							{{if .CgSuper}}
								Cgsup: {{.CgSuper}}<br>
							{{end}}
						</p>
						<p class="card-text m-0 p-0">
							{{if .Pd}}
								PD: {{.Pd}}
							{{end}}
							{{if .Pm}}
								PM: {{.Pm}}
							{{end}}
							{{if .Pa}}
								PA: {{.Pa}}
							{{end}}
						</p>
						<p class="card-text m-0 p-0">
							{{if .Camera}}
								Camera: {{.Camera}}
							{{end}}
						</p>
						<p class="card-text m-0 p-0">
							{{if .PlateWidth}}
								Plate: {{.PlateWidth}}x{{.PlateHeight}} / {{.PlateExt}} / {{.PlateInColorspace}} > {{.PlateOutColorspace}}
							{{end}}
						</p>
						<p class="card-text m-0 p-0">
							{{if .OutputMov.Width}}
								ReviewMOV: {{.OutputMov.Width}}x{{.OutputMov.Height}} / {{.OutputMov.Codec}} / {{.OutputMov.Fps}}fps
							{{end}}
						</p>
						<p class="card-text m-0 p-0">
							{{if .EditMov.Width}}
								EditMOV: {{.EditMov.Width}}x{{.EditMov.Height}} / {{.EditMov.Codec}} / {{.EditMov.Fps}}fps
							{{end}}
						</p>

						<p class="card-text">
							{{range .Milestones}}
								{{.Name}}{{.Date}}
							{{end}}
						</p>
					</div>
				</div>
			</div>
		{{end}}
	</div>
</div>

{{template "footerBootstrap" .}}
</body>
<script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>
</html>
{{end}}
