{{define "regexpathop" }}
<div class="form-group pt-5">
    <label>Support Path Expression</label><br>
    <small class="form-text text-muted">&#123;&#123;.Project&#125;&#125;: Project</small><br>
    <small class="form-text text-muted">&#123;&#123;.Task&#125;&#125;: Task</small><br>
    <small class="form-text text-muted">&#123;&#123;.Episode&#125;&#125;: Episode(EP01)</small><br>
    <small class="form-text text-muted">&#123;&#123;.Name&#125;&#125;: Shot name(SS_0010), Asset name</small><br>
    <small class="form-text text-muted">&#123;&#123;.Seq&#125;&#125;: Seq name(SS)</small><br>
    <small class="form-text text-muted">&#123;&#123;.Cut&#125;&#125;: Cut name(0010)</small><br>
    <small class="form-text text-muted">&#123;&#123;.Type&#125;&#125;: Type(main,org,mp,src,asset)</small><br>
    <small class="form-text text-muted">&#123;&#123;.Assettype&#125;&#125;: Asset Type</small><br>
</div>
{{end}}
