
{{define "replacetag" }}
{{template "headBootstrap5"}}
<body>

<div class="container p-5">
    <form method="post" action="/replacetag_submit">
    <div class="pt-3 pb-5">
        <h2 class="section-heading">Replace Tag</h2>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label>Used Tag</label>
                <input type="text" name="src" class="form-control" placeholder="tag">
                <small class="form-text text-muted">Please enter the name of the tag you want to rename.</small>
            </div>
            <div class="form-group">
                <label>Renewal Tag</label>
                <input type="text" name="dst" class="form-control" placeholder="tag">
                <small class="form-text text-muted">Please enter the new tag name to be used going forward.</small>
            </div>
            
        </div>
    </div>     
    <div class="text-center">
        <button type="submit" class="btn btn-danger mt-5">REPLACE</button>
    </div>
    </form>
</div>



{{template "footerBootstrap" .}}
<script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>
</body>
</html>
{{end}}
