{{define "rmorganization" }}
{{template "headBootstrap5"}}
{{template "navbar-bootstrap5" .}}
<body>


<div class="container p-5">
    <form action="/rmorganization-submit" method="POST">
    <div class="pt-3 pb-5">
        <h2 class="section-heading">Remove Organization</h2>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label>Organization Type</label>
                <select name="organizationtype" class="form-control">
                    <option value="division">Division</option>
                    <option value="department">Department</option>
                    <option value="team">Team</option>
                    <option value="role">Role</option>
                    <option value="position">Position</option>
                </select>
                <small class="form-text text-muted">Select type.</small>
            </div>
            <div class="form-group">
                <label>ID</label>
                <input type="text" name="id" class="form-control" placeholder="id">
                <small class="form-text text-muted">Please enter the ID to delete in lowercase.</small>
            </div>
        </div>
    </div>     
    <div class="text-center">
        <button type="submit" class="btn btn-outline-danger mt-5">Remove Organization</button>
    </div>
    </form>
</div>

{{template "footerBootstrap" .}}
</body>
<script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>
</html>
{{end}}

