{{define "scenarios" }}
{{template "headBootstrap5"}}
<body>
{{template "navbar-bootstrap5" .}}
{{template "modal-bootstrap5" .}}
<div class="p-3">
    <span id="progressIndicator" style="display: none;">Updating...</span>

    <div class="row" id="scenarios">
        {{range .Scenarios}}
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card m-2 bg-darkmode">
                    <h6 class="card-header">
                        {{.Name}}
                        <div class="float-end">
                            <span class="add" onclick="SetModal('{{.ID.Hex}}')" data-bs-toggle="modal" data-bs-target="#modal-scenario">≡</span>
                            {{if eq $.User.AccessLevel 5 6 7 8 9 10 11}}
                                <span class="remove ml-0" onclick="SetModal('{{.ID.Hex}}');DeleteMode();" data-bs-toggle="modal" data-bs-target="#modal-scenario">×</span>
                            {{end}}
                        </div>
                    </h6>
                    <div class="card-body pb-0">
                        <p class="card-text">
                            <div class="row">
                                <div class="col-3">
                                    {{if .GANImages}}
                                        {{range .GANImages}}
                                            <img src="{{.URL}}" class="thumbnail">
                                        {{end}}
                                    {{else}}
                                        <img src="/assets/img/none.jpg" class="thumbnail">
                                    {{end}}
                                </div>
                                <div class="col-9">
                                    <div class="text-darkmode">
                                        ID: {{.ID.Hex}}<br>
                                        Script: {{.Script}}<br>
                                        Translate: {{.Translate}} <span class="add btn-genimage" >gen</span><br>
                                        Prompt: {{.Prompt}} <span class="add btn-genimage" >gen</span><br>
                                    </div>
                                </div>
                            </div>
                        <p>
                    </div>
                </div>
            </div>
        {{end}}
    </div>
</div>
    
{{template "footerBootstrap"}}
</body>
<script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>
<script src="/assets/tata/tata.js"></script>
<script src="/assets/js/scenario.js"></script>
</html>
{{end}}