{{define "setadminsetting" }}
    {{template "headBootstrap5"}}
    <body>
        <div class="container p-5">
            <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                <div class="pt-3 pb-5">
                    <h2 class="section-heading">Update Admin Setting</h2>
                </div>
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">Restart OpenPipelineIO service</h4>
                    <p class="mb-0">
		    	Some features use cached Admin Setting values to reduce database load. If you have changed the Admin Setting, it is recommended to restart the web service.
                    </p>
                </div>
                <div class="text-center">
                    <a href="/" class="btn btn-outline-darkmode mt-5">HOME</a>
                </div>
            </div>
        </div>
        {{template "footerBootstrap" .}}
    </body>
    <script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>
    </html>
{{end}}

