{{define "signup" }}
{{template "headBootstrap5"}}
<body data-bs-theme="dark">

<div class="container p-5">
    <form action="/signup_submit" method="POST">
    <div class="pt-3 pb-5">
        <h2 class="section-heading text-center">Sign Up</h2>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label>ID <span class="text-danger">*</span></label>
                <input type="text" name="ID" id="ID" class="form-control" placeholder="ID">
                <small class="form-text text-muted">Please enter your ID.</small>
            </div>
            <div class="form-group">
                <label>Password <span class="text-danger">*</span></label>
                <input type="password" name="Password" id="Password" class="form-control" placeholder="Password">
                <small class="form-text text-muted">Use at least 8 characters with uppercase, lowercase, numbers, and special symbols.</small>
            </div>
            <div class="form-group">
                <label>Confirm Password <span class="text-danger">*</span></label>
                <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" placeholder="Confirm Password">
                <small class="form-text text-muted">Please re-enter your password to confirm.</small>
            </div>
            <label>Name</label>
            <div class="input-group">
                <div class="col-4">
                    <input type="text" name="LastNameKor" id="LastNameKor" class="form-control" placeholder="">
                </div>
                <div class="col-8">
                    <input type="text" name="FirstNameKor" id="FirstNameKor" class="form-control" placeholder="">
                </div>
            </div>
            <small class="form-text text-muted pb-3">Localization Name</small>
            <div class="input-group pt-3">
                <div class="col-8">
                    <input type="text" name="FirstNameEng" id="FirstNameEng" class="form-control" placeholder="First">
                </div>
                <div class="col-4">
                    <input type="text" name="LastNameEng" id="LastNameEng" class="form-control" placeholder="Last">
                </div>
            </div>
            <small class="form-text text-muted pb-3">English Name</small>
            <div class="input-group pt-3">
                <div class="col-4">
                    <input type="text" name="LastNameChn" id="LastNameChn" class="form-control" placeholder="">
                </div>
                <div class="col-8">
                    <input type="text" name="FirstNameChn" id="FirstNameChn" class="form-control" placeholder="">
                </div>
            </div>
            <small class="form-text text-muted pb-3">If you have a Chinese name, please enter it. A Chinese name in characters may be required for Chinese content credits.</small>

            <div class="form-group">
                <label>Company E-mail</label>
                <input type="email" name="Email" id="Email" class="form-control" placeholder="id@{{.Setting.EmailDNS}}">
                <small class="form-text text-muted">Please enter the email address you use for work.</small>
            </div>

            <div class="form-group">
                <label >Personal E-mail</label>
                <input type="email" name="EmailExternal" id="EmailExternal" class="form-control" placeholder="E-mail">
                <small class="form-text text-muted">Please enter the peronal email address.</small>
            </div>

            <div class="form-group">
                <label>Phone Number</label>
                <input type="tel" name="Phone" id="Phone" class="form-control" placeholder="Phone number">
            </div>

            <div class="form-group">
                <label>Hotline Number</label>
                <input type="tel" name="Hotline" id="Hotline" class="form-control" placeholder="Hotline number">
                <small class="form-text text-muted">If there is an internal phone network, please enter your internal phone number.</small>
            </div>

            <div class="form-group">
                <label>Employee Number</label>
                <input type="text" name="EmployeeNumber" id="EmployeeNumber" class="form-control" placeholder="">
                <small class="form-text text-muted">If there is an employee number, please enter your employee number.</small>
            </div>
        </div>

        <div class="col-sm-1"></div>
        <div class="col-sm">

            <div class="form-group">
                <label class="mb-0">Organization</label>
            </div>
            
            <div class="row">
                <div class="col-4 form-group">
                    <small class="form-text text-muted">Division</small>    
                    <select class="form-control" name="Division" id="Division">
                        <option value="unknown">none</option>
                        {{range .Divisions}}
                            <option value="{{.ID}}">{{if .Name}}{{.Name}}{{else}}{{.ID}}{{end}}</option>
                        {{end}}
                    </select>
                </div>

                <div class="col-4 form-group">
                    <small class="form-text text-muted">Dept</small>    
                    <select class="form-control" name="Department" id="Department">
                        <option value="unknown">none</option>
                        {{range .Departments}}
                            <option value="{{.ID}}">{{if .Name}}{{.Name}}{{else}}{{.ID}}{{end}}</option>
                        {{end}}
                    </select>
                </div>

                <div class="col-4 form-group">
                    <small class="form-text text-muted">Team</small>
                    <select class="form-control" name="Team" id="Team">
                        <option value="unknown">none</option>
                        {{range .Teams}}
                            <option value="{{.ID}}">{{if .Name}}{{.Name}}{{else}}{{.ID}}{{end}}</option>
                        {{end}}
                    </select>
                </div>
            </div>
            
            <div class="row">
                <div class="col-4 form-group">
                    <small class="form-text text-muted">Role</small>
                    <select class="form-control" name="Role" id="Role">
                        <option value="unknown">none</option>
                        {{range .Roles}}
                            <option value="{{.ID}}">{{if .Name}}{{.Name}}{{else}}{{.ID}}{{end}}</option>
                        {{end}}
                    </select>
                </div>
    
                <div class="col-4 form-group">
                    <small class="form-text text-muted">Position</small>
                    <select class="form-control" name="Position" id="Position">
                        <option value="unknown">none</option>
                        {{range .Positions}}
                            <option value="{{.ID}}">{{if .Name}}{{.Name}}{{else}}{{.ID}}{{end}}</option>
                        {{end}}
                    </select>
                </div>
                <div class="col-4 form-check mt-4">
                    <input type="checkbox" id="Primary" name="Primary" class="form-check-input ml-0" value="true">
                    <label class="form-check-label small ml-4" for="Primary">Primary Role</label>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-12">
                    <span class="btn btn-darkmode w-100" id="addOrganization">ADD Org Info</span>
                </div>
            </div>
            
            <div class="form-group py-1">
                <small id="Warning" class="form-text text-warning">Please set up the organization information.</small>
                <div id="Organizations"></div>
            </div>

            <div class="form-group pt-3">
                <label>Tags</label>
                <input type="hidden" name="OrganizationsForm" id="OrganizationsForm" class="form-control">
                <input type="text" name="Tags" id="Tags" class="form-control" placeholder="tag1,tag2">
                <small class="form-text text-muted">Please enter the tag information.</small>
            </div>

            <div class="form-group">
                <label>Location Info</label>
                <input type="text" name="Location" id="Location" class="form-control" placeholder="3F,8F">
                <small class="form-text text-muted">Please enter additional details about your workplace.</small>
            </div>

            <div class="form-group">
                <label>Timezone</label>
                <!--$GOROOT/lib/time/zoneinfo.zip-->
                <select name="Timezone" id="Timezone" class="form-control">
                    <option value="Asia/Seoul" selected>Asia/Seoul</option>
                    <option value="Asia/Beijing">Asia/Beijing</option>
                    <option value="US/Eastern">US/Eastern</option>
                    <option value="Asia/Tokyo">Asia/Tokyo</option>
                    <option value="Asia/Ho_Chi_Minh">Asia/Ho_Chi_Minh</option>
                    <option value="Canada/Atlantic">Canada/Atlantic</option>
                    <option value="Canada/Central">Canada/Central</option>
                    <option value="Canada/Eastern">Canada/Eastern</option>
                    <option value="Canada/Mountain">Canada/Mountain</option>
                    <option value="Canada/Newfoundland">Canada/Newfoundland</option>
                    <option value="Canada/Pacific">Canada/Pacific</option>
                    <option value="Canada/Saskatchewan">Canada/Saskatchewan</option>
                    <option value="Canada/Yukon">Canada/Yukon</option>
                    <option value="America/Guatemala">America/Guatemala</option>
                </select>
                <small class="form-text text-muted">select timezone</small>
            </div>

            <div class="form-group pt-4">
                <label>Captcha <span class="text-danger">*</span></label>
                <div class="bg-captcha my-1">
                    <img id="captcha" src="/captcha/{{.CaptchaID}}.png" alt="Captcha image">
                </div>
                <input type=hidden name="CaptchaID" id="CaptchaID" value="{{.CaptchaID}}">
                <input type="text" name="CaptchaNum" id="CaptchaNum" class="form-control" placeholder="">
                <small class="form-text text-muted">Please enter the numbers shown in the image above.</small>
            </div>
        </div>
    </div>     
    <div class="text-center">
        <button type="submit" class="btn btn-darkmode mt-5" id="SignUp">SIGN UP</button>
    </div>
    </form>
</div>



{{template "footerBootstrap" .}}
</body>
<script src="/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>
<script src="/assets/js/signup.js"></script>
</html>
{{end}}
